<div class="header-storage">
    <div class="header-storage__element header-storage__menu">
        <ul class="header-storage__menu-nav">
            <li>
                <a href="#" class="header-storage__menu-nav-item">Luggage Storage <span class="header-storage__menu-nav-item-count">(9)</span></a>
            </li>
            <li>
                <a href="#" class="header-storage__menu-nav-item header-storage__menu-nav-item--active">Storage Items <span class="header-storage__menu-nav-item-count">(20)</span></a>
            </li>
            <li>
                <a href="#" class="header-storage__menu-nav-item">Item Requests <span class="header-storage__menu-nav-item-count">(9)</span></a>
            </li>
        </ul>
    </div>
    <div class="header-storage__element header-storage__buttons-group">
        <div class="base-button base-button--with-border header-storage__request-button" id="requestItems">Request Items</div>
        <div class="base-button base-button--filled" id="newStorageOrder">+ New Storage Order</div>
        <div class="base-button base-button--with-border" id="requestItemsCancel">Cancel</div>
    </div>
    <div class="header-storage__request-items-step" data-target="editItem">
        <div class="header-storage__request-items-step-table">
            <div class="header-storage__request-items-step-table-cell">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="header-storage__request-items-step-justify">
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-title">
                                    Edit category
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-descr">
                                    Delete or add new categories for item below
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-button">
                                    <a href="#" class="base-button base-button--filled">Done</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-storage__request-items-step" data-step="1">
        <div class="header-storage__request-items-step-table">
            <div class="header-storage__request-items-step-table-cell">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="header-storage__request-items-step-justify">
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-title">
                                    Request Items
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-descr">
                                    Choose items you want to request below
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-button">
                                    <a href="#" class="base-button base-button--filled" data-target="moveToNextStep">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-storage__request-items-step" data-step="2">
        <div class="header-storage__request-items-step-table">
            <div class="header-storage__request-items-step-table-cell">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="header-storage__request-items-step-justify">
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-title">
                                    Request Items
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-descr">
                                    Fill in the form to finish your request
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-button">
                                    <a href="#" class="base-button base-button--filled">Done</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>