<div class="header-storage">
    <div class="header-storage__element header-storage__menu">
        <ul class="header-storage__menu-nav header-storage__menu-nav--desktop">
            <li>
                <a href="#" class="header-storage__menu-nav-item">Luggage Storage <span class="header-storage__menu-nav-item-count">(9)</span></a>
            </li>
            <li>
                <a href="#" class="header-storage__menu-nav-item header-storage__menu-nav-item--active">Storage Items <span class="header-storage__menu-nav-item-count">(20)</span></a>
            </li>
            <li>
                <a href="#" class="header-storage__menu-nav-item">Item Requests <span class="header-storage__menu-nav-item-count">(9)</span></a>
            </li>
        </ul>
        <div class="header-storage__menu-nav header-storage__menu-nav--mobile">
            <span class="header-storage__menu-mobile js-mobile-menu">Storage items <span class="header-storage__menu-nav-item-count">(9)</span></span>
            <ul class="header-storage__menu-mobile-list">
                <li>
                    <a href="">
                        <span class="header-storage__menu-mobile-list-image">

                        </span>
                        <span class="header-storage__menu-mobile-list-title">
                            Luggage Storage (20)
                        </span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="header-storage__menu-mobile-list-image">

                        </span>
                        <span class="header-storage__menu-mobile-list-title">
                            Item Requests (20)
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-storage__element header-storage__buttons-group">
        <div class="base-button base-button--with-border" id="requestItems">Request Items</div>
        <a href="#" class="base-button base-button--filled header-storage__storage-order-button header-storage__storage-order-button--desktop">+ New Storage Order</a>
    </div>
    <div class="header-storage__cancel-button js-cancel-button">Cancel</div>
    <div class="header-storage__request-items-step" data-target="editItemCategory">
        <div class="header-storage__request-items-step-table">
            <div class="header-storage__request-items-step-table-cell">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="header-storage__request-items-step-justify">
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-title">
                                    Edit category
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-descr">
                                    Delete or add new categories for item below
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-button">
                                    <a href="#" class="base-button base-button--filled">Done</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-storage__request-items-step" data-target="requestBoxes">
        <div class="header-storage__request-items-step-table">
            <div class="header-storage__request-items-step-table-cell">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="header-storage__request-items-step-justify">
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-title">
                                    Request Boxes
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-descr">
                                    Fill in the form to finish your request.
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-button">
                                    <a href="#" class="base-button base-button--filled">Done</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-storage__request-items-step" data-step="1">
        <div class="header-storage__request-items-step-table">
            <div class="header-storage__request-items-step-table-cell">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="header-storage__request-items-step-justify">
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-title">
                                    Request Items
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-descr">
                                    Choose items you want to request below
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-button">
                                    <a href="#" class="base-button base-button--filled" data-target="moveToNextStep">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-storage__request-items-step" data-step="2">
        <div class="header-storage__request-items-step-table">
            <div class="header-storage__request-items-step-table-cell">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="header-storage__request-items-step-justify">
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-title">
                                    Request Items
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-descr">
                                    Fill in the form to finish your request
                                </div>
                            </div>
                            <div class="header-storage__request-items-step-element">
                                <div class="header-storage__request-items-step-button">
                                    <a href="#" class="base-button base-button--filled">Done</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>