<div class="mfp-hide base-modal-window__dialog base-modal-window__dialog--edit-item" id="requestBoxes">
    <div class="request-modal__info">
        <div class="storage-item item-boxes storage-item--edit-modal" data-id="12">
            <div class="storage-item__inner storage-item__inner--edit-modal">
                <div class="storage-item__element storage-item__image">
                    <div class="storage-item__image-wrapper">

                        test

                    </div>
                </div>
                <div class="storage-item__element storage-item__info">
                    <div class="storage-item__info-id">
                        #249
                    </div>
                    <div class="storage-item__info-title">
                        7 boxes
                    </div>
                    <div class="storage-item__info-category">
                        2 oversize, 2 big, 3 small
                    </div>
                    <div class="storage-item__info-price">
                        $0.99
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inputs-group">
        <div class="request-modal__small-title">
            Oversized boxes
        </div>
        <input type="number" min="1" max="999" step="1" value="1">
    </div>
    <div class="inputs-group">
        <div class="request-modal__small-title">
            Big boxes
        </div>
        <input type="number" min="1" max="999" step="1" value="1">
    </div>
    <div class="inputs-group">
        <div class="request-modal__small-title">
            Small boxes
        </div>
        <input type="number" min="1" max="999" step="1" value="1">
    </div>
    <div class="inputs-group">
        <div class="request-modal__small-title">
            Location to
        </div>
        <select name="requestBoxesLocation">
            <option value="Brooklyn">Brooklyn</option>
            <option value="New York">New York</option>
        </select>
    </div>
    <div class="inputs-group">
        <div class="request-modal__small-title">
           Apartment Number
        </div>
        <input type="text">
    </div>
    <div class="inputs-group date">
        <div class="request-modal__small-title">
            Delivery Date/Time
        </div>
        <input type="text" id='datetimepicker1' name="requestItemsTime">
    </div>
</div>