<div class="mfp-hide base-modal-window__dialog base-modal-window__dialog--edit-item" id="requestItemsModal">
    <form action="/" method="post">
        <div class="inputs-group">
            <div class="request-modal__small-title">
                Location to
            </div>
            {#<input type="text" name="requestItemsLocation">#}
            <select name="requestItemsLocation">
                <option value="Brooklyn">Brooklyn</option>
                <option value="New York">New York</option>
            </select>
        </div>
        <div class="inputs-group">
            <div class="request-modal__small-title">
                Apartment Number
            </div>
            <input type="text" name="requestItemsApartmentNumber">
        </div>
        <div class="inputs-group date">
            <div class="request-modal__small-title">
                Delivery Date/Time
            </div>
            <input type="text" id='datetimepicker1' name="requestItemsTime">
        </div>
    </form>
</div>