<div class="col-md-6">
    <div class="storage-item {{ item.itemClass }}" data-id="{{ item.dataId }}">
        <div class="storage-item__inner">
            <div class="storage-item__element storage-item__image">
                <div class="storage-item__image-wrapper">
                    {% if item.itemClass == 'item-single' %}
                    <img src="{{ item.imageSrc }}" alt="">
                    {% elif item.itemClass == 'item-boxes' %}
                    test
                    {% endif %}
                </div>
            </div>
            <div class="storage-item__element storage-item__info">
                <div class="storage-item__info-id">
                    #{{ item.itemId }}
                </div>
                <div class="storage-item__info-title">
                    {{ item.itemTitle }}
                </div>
                <div class="storage-item__info-category">
                    {{ item.itemCategory }}
                </div>
                <div class="storage-item__info-price">
                    ${{ item.itemPrice }}
                </div>
            </div>
            {% if item.itemClass == 'item-single' %}
            <div class="storage-item__action">
                <div class="storage-item__check">
                    <input type="checkbox" id="item-check-{{ item.dataId }}">
                    <label for="item-check-{{ item.dataId }}"></label>
                </div>
                <button type="button" class="storage-item__edit" data-toggle="modal" data-target="#editSingleItem">
                    <svg width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desc-Storage-Items" transform="translate(-585.000000, -551.000000)" fill="#0B7BFB">
                                <g id="Item" transform="translate(290.000000, 513.000000)">
                                    <path d="M295.6,60.5 L317.6,60.5 L317.6,58.3118162 L295.6,58.3118162 L295.6,60.5 Z M306.4262,53.9354486 L302.2,53.9354486 L302.2,49.4452954 L313.0229,38.5 L317.6,43.0273523 L306.4262,53.9354486 Z"
                                          id="edit_fill-[#1480]"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>
            {% elif item.itemClass == 'item-boxes' %}
                <div class="storage-item__action-boxes">
                    <a href="#" class="storage-item__boxes-request"><span>Request</span></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>