.base-modal-window
  background-color: rgba(8, 30, 58, 0.73)
  &__vertical-helper
    display: table
    height: 100%
    width: 100%
    pointer-events: none
  &__vertical-center
    display: table-cell
    vertical-align: middle
    pointer-events: none
  &__dialog
    background: #ffffff
    border-radius: 6px
    padding: 40px 40px
    pointer-events: all
    margin: 0 auto
    &--edit-item
      max-width: 480px
      width: 100%