.base-modal-window
  background-color: rgba(8, 30, 58, 0.73)
  height: 100%!important
  top: 0 !important
  right: 0
  bottom: 0
  left: 0
  &__vertical-helper
    display: table
    height: 100%
    width: 100%
    pointer-events: none
  &__vertical-center
    display: table-cell
    vertical-align: middle
    pointer-events: none
  &__dialog
    position: relative
    background: #ffffff
    border-radius: 6px
    padding: 40px 40px
    pointer-events: all
    margin: 50px auto
    +media-480
      margin: 0
      border-radius: 0
    &--edit-item
      max-width: 480px
      width: 100%
  &__dialog-close
    position: absolute
    top: 20px
    right: 20px
.mfp-container
  padding: 0
.mfp-fade.mfp-bg
  opacity: 0
  transition: all 0.15s ease-out
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready
  opacity: 0.8
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing
  opacity: 0
/* content at start */
.mfp-fade.mfp-wrap .mfp-content
  opacity: 0
  transition: all 0.15s ease-out
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0