.edit-items-block
  &__info
    margin-bottom: 50px
  &__small-title
    font-size: 13px
    color: #afafaf
    margin-bottom: 5px
  &__categories
    margin-bottom: 35px
  &__single-category
    display: inline-block
    font-size: 20px
    margin-right: 10px
    vertical-align: middle
    margin-bottom: 5px
  &__single-category-delete
    display: inline-block
    vertical-align: middle
    margin-left: 5px
    margin-top: -5px
  &__add-category-input
    position: relative
  &__add-category-add-button
    position: absolute
    right: 10px
    top: 50%
    transform: translateY(-50%)
    background: none
    border: none
    &:focus
      outline: none