.header-storage
  background: $color-base
  text-align: center
  position: relative
  display: table
  width: 100%
  min-height: 60px
  +media-1280
    text-align: left
  &__element
    display: inline-block
  &__menu
    +media-910
      line-height: 60px
  &__menu-nav
    li
      display: inline-block
      padding: 0 20px
    &--desktop
      +media-910
        display: none
    &--mobile
      display: none
      +media-910
        display: inline-block
  &__menu-mobile
    margin-left: 25px
    color: #ffffff
    &:after
      content: ''
      display: inline-block
      vertical-align: middle
      border: solid #ffffff
      border-width: 0 1px 1px 0
      padding: 3px
      transform: rotate(45deg)
      margin-left: 5px
      transition: transform .3s ease
    &--opened
      &:after
        transform: rotate(-135deg)
    span
      display: inline-block
  &__menu-mobile-list
    display: none
    position: fixed
    top: 60px
    right: 0
    bottom: 0
    left: 0
    height: auto
    overflow: auto
    z-index: 99
    -webkit-backdrop-filter: blur(0.5px)
    backdrop-filter: blur(0.5px)
    background-color: rgba(8, 30, 58, 0.73)
    li
      width: 100%
      padding: 10% 0
      text-align: center
      line-height: normal
      a
        display: inline-block
        width: 200px
        height: 200px
        border: 2px solid #5da9ff
        border-radius: 6px
        padding: 15px
        color: #ffffff
  &__menu-mobile-list-image
    display: inline-block
    width: 100%
    margin-top: 20px
  &__menu-mobile-list-title
    display: inline-block
    width: 100%
    margin-top: 20px
  &__menu-nav-item
    display: inline-block
    position: relative
    font-size: 16px
    line-height: normal
    color: #ffffff
    text-decoration: none
    padding: 35px 0
    text-align: center
    &:before
      content: ''
      position: absolute
      display: block
      bottom: 0
      left: 0
      width: 100%
      height: 0
      background: #7dc3ff
      transition: height .3s ease
    &:hover
      color: #ffffff
      text-decoration: none
      &:before
        height: 8px
    &:focus
      color: #ffffff
      text-decoration: none
    &--active
      &:before
        height: 8px
  &__buttons-group
    display: inline-block
    position: absolute
    top: 50%
    right: 3%
    transform: translateY(-50%)
    +media-640
      right: 5%
    //z-index: 99
    //&--desktop
    //  +media-910
    //    display: none
  &__request-button
    display: inline-block
    margin-right: 5px
    font-family: $font-maison-nue-bold
    font-size: 14px
    line-height: normal
    text-decoration: none
    padding: 15px 20px
    border-radius: 3px
    transition: .3s ease
    background: 0 0
    cursor: pointer
    color: #fff
    border: 1px solid #fff
    +media-640
      font-family: $font-family-base
      border: none
      padding: 0
  &__step-button
    +media-640
      border: 0
      padding: 0
      background: 0
  &__storage-order-button
    &--desktop
      +media-640
        display: none !important
    &--mobile
      display: none
      width: 100%
      padding: 20px 20px
      text-align: center
      border: 1px solid $color-base
      border-radius: 12px
      color: $color-base
      +media-640
        display: inline-block


  &__request-items-step
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    height: 100%
    width: 100%
    background: $color-base
    transform: translateX(-100%)
    transition: transform .3s ease
  &__request-items-step-justify
    text-align: justify
    font-size: 1px
    line-height: 0
    text-justify: newspaper
    zoom: 1
    +media-910
      text-align: center
    &:after
      width: 100%
      height: 0
      visibility: hidden
      overflow: hidden
      content: ''
      display: inline-block
  &__request-items-step-element
    display: inline-block
    vertical-align: middle
  &__request-items-step-title
    font-family: $font-maison-nue-bold
    color: #ffffff
    font-size: 18px
    line-height: normal
    +media-640
      font-family: $font-family-base
      font-size: 16px
  &__request-items-step-descr
    color: #ffffff
    font-size: 18px
    line-height: normal
    +media-910
      display: none
  &__request-items-step-button
    +media-910
      position: absolute
      right: 5%
      top: 50%
      transform: translateY(-50%)
  &__request-items-step-table
    display: table
    height: 100%
    width: 100%
  &__request-items-step-table-cell
    display: table-cell
    vertical-align: middle
  &__cancel-button
    display: none
    font-family: $font-maison-nue-bold
    font-size: 14px
    line-height: normal
    text-decoration: none
    padding: 15px 20px
    border-radius: 3px
    transition: .3s ease
    background: 0 0
    cursor: pointer
    color: #fff
    border: 1px solid #fff
    position: absolute
    top: 50%
    right: 3%
    transform: translateY(-50%)
    z-index: 99
    +media-910
      left: 5%
      right: auto
    +media-640
      border: none
      font-family: $font-family-base
      padding: 0
    &--active
      display: inline-block