.storage-item
  padding: 0 20px
  position: relative
  transition: background .3s ease
  &:hover
    background: rgba(46, 129, 230, .1)
  &__inner
    border-bottom: 1px solid #f7f7f7
    padding: 20px 0
    &--edit-modal
      padding: 0 0 20px 0
  &__element
    display: inline-block
    vertical-align: top
  &__image
    width: 150px
    height: 150px
    border-radius: 20px
    background: #f0f0f0
    padding: 7px
    margin-right: 10px
  &__image-wrapper
    overflow: hidden
    height: 100%
    border-radius: 15px
    img
      max-height: 100%
      width: auto
  &__info
    padding: 10px 0
    margin-right: 20px
  &__info-id
    color: $color-base
    font-size: 20px
    margin-bottom: 10px
  &__info-title
    font-size: 25px
    color: #000000
    margin-bottom: 10px
  &__info-category
    color: #a5a5a5
    font-size: 20px
  &__info-price
    margin-top: 20px
    color: $color-base
    font-size: 25px
  &__action
    position: absolute
    right: 20px
    top: 50%
    transform: translateY(-50%)
  &__check
    display: none
  &__edit
    background: none
    border: none
    transition: .3s ease
    &:hover
      svg
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both
        transform: translate3d(0, 0, 0)
        backface-visibility: hidden
        perspective: 1000px
    &:focus
      outline: none
  &--edit-modal
    padding: 0
    &:hover
      background: none